body {
  position: relative;
  width: 1600px;
  height: 960px;
  background: #2768ba;
}
.tablee {
  width: 1327px;
  margin: auto;
  margin-left: 160px;
  margin-top: 82px;
  border-radius: 7px;
  background: #ffffff;
  /* display: flex; */
}
.cardHeader {
  height: 94.34855651855469px;
  width: 1327px;
  margin-left: 0px;
  margin-top: 0px;
  border-radius: 0px;
  border-bottom: 0.961594px solid #eaecf0;
}
.contentDiv {
  display: flex;
  height: 94.34855651855469px;
  width: 1327px;
  margin-left: 0px;
  margin-top: 0px;
  border-radius: 0px;
  gap: 15.39px;
  padding: 19px 23px 18px 23px;
}
.textSupportDiv {
  height: 56.846378326416016px;
  width: 780;
  margin-left: 16px;
  margin-top: 19.231884002685547px;
  border-radius: 0px;
  display: flex;
}
.headingDiv {
  font-family: Inter;
  font-size: 17px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
}
.labelForText {
  height: 22px;
  width: 117px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 15.385506629943848px;
  padding: 2px 8px 2px 8px;
  background: #f7faff;
  text-align: center;
  color: #0070ff;
  /* border: 1px solid green; */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11.5391px;
  line-height: 17px;
  /* identical to box height, or 150% */

  text-align: center;
}
.inputDiv {
  height: 36px;
  width: 519px;
  margin-left: 7.69px;
  margin-top: 5px;
  border-radius: 5px;
  display: flex;
  background: #ffffff;
  box-shadow: 0px 2px 6px 1px #00000026;

  /* border: 1px solid red; */
}
.iconDiv {
  height: 16px;
  width: 16px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 0px;
}
.serchTextDiv {
  height: 18px;
  width: 39px;
  margin-left: 6px;
  margin-top: 10px;
  border-radius: nullpx;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  /* border:1px solid green; */
}
.inpu {
  width: 460px;
  border: none;
}
textarea:focus,
input:focus {
  outline: none;
}
.actionss {
  height: 39.23188400268555px;
  width: 474px;
  margin-left: 28px;
  margin-top: 18px;
  margin-bottom: 27px;
  border-radius: 0px;
  /* border: 1px solid red; */
  background: #ffffff;
  display: flex;
}
.del,
.filter,
.exportDiv {
  display: flex;
  /* height:39px; */
  width: 90px;
  height: 100%;
  margin-left: 0px;
  margin-top: 0px;
  /* border-radius: 7.692753314971924px; */
  padding: 0px 15px 0px 15px;
  /* border: 1px solid yellow; */
  border-radius: 7.692753314971924px;
}
.delIconDiv {
  height: 16.026569366455078px;
  width: 14.423912048339844px;
  margin-left: 2.40399169921875px;
  margin-top: 10px;
  /* border: 1px solid red; */
}
.textDeleteDiv {
  height: 20px;
  width: 42px;
  margin-left: 10px;
  margin-top: 9.615942001342773px;
  border-radius: nullpx;
  /* border: 1px solid green; */
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #344054;
}
.exportDiv {
  /* border: 1px solid yellow; */
  background-color: #ffffff;
  border-radius: 7.692753314971924px;
  border: 0.961594px solid #d0d5dd;
  margin-left: 22px;
}
.buttonDivAddNewCta {
  width: 145px;
  height: 100%;
  margin-left: 20px;
  margin-top: 0px;
  display: flex;
  /* border-radius: 7.692753314971924px; */
  padding: 0px 15px 0px 15px;
  background: #0070ff;
  border-radius: 7.692753314971924px;
}
.addctaDiv {
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 8px;
  color: white;
  margin-left: 8px;
}
.tableActual {
  /* border: 1px solid yellow; */
  /* height: 645.40576171875px; */
  width: 1327px;
  margin-left: 0px;
  margin-top: 15px;
  border-radius: 0px;
}
.dataTable {
  width: 100%;
  font-family: Inter;
  /* font-size: 12px; */
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  padding: 3%;
}
th,
td {
  font-family: Inter;
  /* font-size: 12px; */
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #555;
}
th {
  /* background-color: lightblue; */
  border-bottom: 0.961594px solid #eaecf0;
  border-top: 1px solid #555;
  padding-bottom: 10px;
}
.boldd {
  font-weight: bolder;
  color: black;
}
.green {
  color: green;
}
.red {
  color: red;
}

.ascdsceDiv {
  display: flex;
}
.paginatedComponet {
  width: 50%;
  padding: 10px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 10%;
}
.blueColor {
  background-color: #0070ff;
  color: white;
  border: 1px solid white;
  padding: 10px;
  margin-left: 0px;
  cursor: pointer;
}
td:first-child {
  width: 63.47px;
}
td:nth-child(2) {
  width: 170.61px;
}
td:nth-child(3) {
  width: 170.61px;
}
td:nth-child(4) {
  width: 170.61px;
}
td:nth-child(5) {
  width: 170.61px;
}
td:last-child {
  width: 69.23px; /* set width of last column to 60% */
}
.highLightBorder {
  background-color: green;
  color: white;
}
.dataParentDiv {
  width: 80%;
  background-color: white;
  height: auto;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 2%;
  /* display: flex; */
}
.areaChart,
.lineChart {
  width: 100%;
  height: 90%;
  margin: 2%;
  margin-bottom: 2%;
}
.anc {
  text-decoration: none;
  color: #0070ff;
  font-weight: 700;
}
.footerDiv {
  width: 100%;
  height: 10px;
  border-radius: 7px;
}
.footerInnerDiv {
  height: 5px;
  width: 391.3688659667969px;
  border-radius: 11.539129257202148px;
  background: #eaecf0;
}
/* responsivnesss start here. */

@media only screen and (min-width: 368px) and (max-width: 786px) {
  body {
    /* height: 960px; */
    background: #2768ba;
  }
  .tablee {
    width: 100%;
    margin: auto;
    margin-left: 2px;
    margin-top: 20%;
    background: #ffffff;
  }

  .cardHeader {
    height: 94.34855651855469px;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 0px;
    border-bottom: 0.961594px solid #eaecf0;
  }
  .contentDiv {
    display: flex;
    height: 94.34855651855469px;
  }
  .textSupportDiv {
    width: 450px;
    margin-left: 6px;
  }
  .labelForText {
    margin-left: 5px;
  }
  .inputDiv {
    width: 250px;
    margin-left: 12px;
  }
  .iconDiv {
    margin-left: 5px;
  }
  .actionss {
    width: 500px;
    margin-left: 9px;
  }

  .del,
  .filter,
  .exportDiv {
    /* height:39px; */
    width: 80px;
  }
  .delIconDiv {
    margin-left: 0%;
  }
  .textDeleteDiv {
    margin-left: 2px;
  }
  .addctaDiv {
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 8px;
    color: white;
    margin-left: 8px;
  }
  .tableActual {
    width: 100%;
    margin-left: 0px;
    margin-top: 15px;
    border-radius: 0px;
  }
  th,
  td {
    font-size: 15px;
  }

  td:first-child {
    width: 2%;
    /* border:1px solid grey; */
  }
  td:nth-child(2) {
    width: 4%;
    /* border:1px solid green; */
  }
  td:nth-child(3) {
    width: 6%;
    /* border:1px solid crimson; */
  }
  td:nth-child(4) {
    width: 4%;
    /* border:1px solid pink; */
  }
  td:nth-child(5) {
    width: 12%;
    /* border:1px solid yellow; */
  }
  td:nth-child(6) {
    width: 12%;
    /* border:1px solid yellow; */
  }
  td:nth-child(7) {
    width: 12%;
    /* border:1px solid brown; */
  }
  td:nth-child(8) {
    width: 10%;
    /* border:1px solid brown; */
  }

  .dataParentDiv {
    width: 100%;
    /* display: flex; */
  }
  .areaChart,
  .lineChart {
    width: 30%;
    margin: auto;
  }
}

/* 800 to 1300 */
@media only screen and (min-width: 769px) and (max-width: 1300px) {
  .tablee {
    width: 100%;
    margin: auto;
    margin-left: 2px;
    margin-top: 20%;
    background: #ffffff;
  }
  .dataParentDiv {
    width: 100%;
    background-color: white;
    height: auto;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    /* display: flex; */
  }
  .areaChart,
  .lineChart {
    width: 40%;
    height: 90%;
    margin: 2%;
    margin-bottom: 2%;
  }
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
